{% extends 'base.html' %}
{%  block content %}

<main>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="#">Travel Buddy</a>
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                <a href="/logout">Logout</a>
            </button>
        </nav> 
        <!-- Add a Trip -->
        <div class="row">
            <div class="col-md-12">
                <h2>Add a Trip</h2>
                
                <form action="/travels/process" method="POST">
                    {% csrf_token %}
                    <div class="form-group">    
                        <label for="destination">Destination:</label>
                        <input type="text" name="destination">
                        <input type="hidden" name="user" value="{{ request.session.user_id }}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="description" name="description">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Travel Date From:</label>
                        <input type="date" name="start_date"> 
                    </div>
                    <div class="form-group">
                        <label for="end_date">Travel Date To:</label>
                        <input type="date" name="end_date"> 
                    </div>
                    <input type="submit" value='Add Plan'>
                </form>
            </div>     
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="/travels"><input type="button" value="Home"></a>
            </div>
        </div> 
    </div>
</main>

{%  endblock %}