{% extends 'base.html' %}
{%  block content %}

<main>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                <a href="/logout">Logout</a>
            </button>
        </nav> 
        <br>
        
        <br>
        <h5>Destination: {{ destination }}</h5>
        <p>Planned by: {{ uploader }}</p>
        <p>Description: {{ description }}</p>
        <p>Start Date: {{ start_date }}</p>
        <p>End Date: {{ end_date }}</p>
        <br>
        <h5>Other users' joining the trip</h5>
        <!-- append user that joined trip -->
        {% for user in travelers %}
            <p>{{ user.name }}</p>
        {% empty %}
            <p>Some poor soul</p>

        {% endfor %}

    </div>	
    <div class="row">
        <div class="col-sm-3">
            <a href="/travels"><input type="button" value="Home"></a>
        </div>
    </div>
</main>

{% endblock %}