<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    </head>
    <body>
        <h1>Hello {{ request.session.user_id }}</h1>
        <p>Here are the existing users</p>
        <button type="submit"><a href="/logout">Logout</a></button> 
        <!-- how many people have poked you -->
        <p>You've been poked {{frienemies.count}} times</p>
        <ul>
            {% for poke in frienemies %}
                <li>{{poke.poke_sender.first_name}} poked you {{poke.count}} times...</li>
            {% endfor %}
        </ul>
        <table class='striped'>
            <thead>
                <tr>
                    <th>First Name</th> <!-- Name -->
                    <th>Last name</th> <!-- Alias -->
                    <th>Email</th>
                    <th>Poke History</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for user in all_users %}
            <tr>
                <td>{{user.first_name}} </td>
                <td>{{user.last_name}}</td>
                <td>{{ user.email }}</td>
                <td>{{user.num_pokes}}</td>
                <td>
                    <form action="/dashboard/createPoke" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="poke_receiver" value="{{ user.id }}">
                        <!-- when we submit the form we can get the value of the poke_receiver in the views as request.poke_receiver-->
                        <!-- Set value to user_id in hidden so it knows who you're poking -->
                        <input type="submit" value="Poke"> <!-- name="" becomes the key in the dictionary -->
                    </form>
                </td>
            </tr>
            {% endfor %}

    </table>
    <br>
    <table>
        <tr>
            <td>Poke ID</td>
            <td>Poke Sender</td>
            <td>Poke Receiver</td>
            <td>Poke Count</td>
        </tr>
        {% for poke in all_pokes %}
        <tr>
            <td>{{poke.id}} </td>
            <td>{{poke.poke_sender.first_name}}</td>
            <td>{{poke.poke_receiver.first_name }}</td>
            <td>{{poke.count}}</td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>